
body { padding-top: 70px;
       background: #1c253c;
     }

#top-nav { background-color: #1f3e5a;
	   color: white;
	 }

#top-nav>a{ color: white;
	  }

#main {
    color: white;
}


.tile-body { background: #00838F;
	    fill: #00838F;
	  }